<h2>{{candidates.length}} Candidates!</h2>

{{#each candidates as |candidate index|}}
  <a href="/candidates/{{index}}">
    <h4>{{candidate.name}} for president in {{candidate.year}}!</h4>
  </a>
{{/each}}
